*{
    margin: 0;
}

input {
    margin: 20px;
    height: 25px
}

label{
    margin: 0;
}

body{
    border:1px solid gray;
    border-radius: 20px;
    margin:2%;
    padding:2%;
}
h1{
    color:blue;
    text-align: center;
}
h3 {
    border-bottom:1px solid aquamarine;
    padding:1%;
}

button{
    background-color: blue;
    height: 35px;
    color:white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
}

button:hover, button.active{
    color:blue;
    background-color: white;
    border:1px solid blue;
}

table{
    margin-top:20px;
    margin-left: 2%;
    border: 5px solid black;
    width: 1100px;
}

tr{
    border: 1px black;
}

tr:nth-child(even){
    color:black;
}

th{
    width: 900px;
    background-color: gray;
    height: 50px;
    text-transform: uppercase;
    border: 1px black;
}

td{
    height: 25px;
    width: 500px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 1px black
}

#tdAcciones{
    width: 800px;
}